@model IEnumerable<FrontEndAPI.Models.AplicacionViewModel>

@{
    ViewData["Title"] = "Index";
}




  <div id="layoutSidenav_content">
    <main>
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Empleos</h3></div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    @*<div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Empleos promedio
                        </div>*@
                    @*<div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>*@
                </div>
            </div>
        </div>
        <p>
            <a class="small text-black" asp-action="Create">Create New</a>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UsuarioId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmpleoId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsuarioId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmpleoId)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </main>
      </div>
