@model IEnumerable<BackEnd.Entities.Empleo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpleoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpresaId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmpleoId  }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmpleoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpleoId })
            </td>
        </tr>
}
    </tbody>
</table>
